@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'spartan';
    src: url(../fonts/LeagueSpartan-Regular.ttf);
}
@font-face {
    font-family: 'atma';
    src: url(../fonts/Atma-Regular.ttf);
}